* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container-principal {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/cervejariaLog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-vazio-welcome {
    width: 500px;
    height: 200px;
    background-color: #F5F360;
    opacity: 0.7;
    border-radius: 20px;
    border: 2px solid #DE9606;
    box-shadow: 0 0 20px #414141;
}

.container-welcome {
    width: 400px;
    height: 20px;
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    padding: 20px;  
}

h1 {
    font-size: 26px;
    color: #CA610E;
    text-shadow: 1px 1px 2px #414141;
    margin: 15px 25px;
}

h2 {
    font-size: 22px;
    color: #CA610E;
    text-shadow: 1px 1px 2px #414141;
    margin: 20px 15px;
}